In [1]:
import pandas as pd   #order-info-1.xlsx

In [24]:
df = pd.read_excel('order_info_1.xlsx')

In [2]:
#df = pd.read_excel('map_poicode.xlsx')

In [25]:
df_ = df

In [46]:
df =df_

In [47]:
df['cs_order_info.csoi_settle_time'] = df['cs_order_info.csoi_settle_time'].fillna(0)

In [48]:
df.head()

,cs_order_info.csoi_id,cs_order_info.csoi_host,cs_order_info.csoi_operator,cs_order_info.csoi_order_no,cs_order_info.csoi_use_member,cs_order_info.csoi_pay_member,cs_order_info.csoi_car,cs_order_info.csoi_carno,cs_order_info.csoi_carmodel,cs_order_info.csoi_booked_taketime,...,cs_order_info.csoi_settle_time,cs_order_info.csoi_booked_time,cs_order_info.csoi_account_deposit_pay,cs_order_info.csoi_preauthorization_pay,cs_order_info.csoi_bad_state,cs_order_info.csoi_fine,cs_order_info.csoi_return_any_fee,Unnamed: 49,Unnamed: 50,Unnamed: 51
0,14,1,1,14,1513,172,108,渝D96072,6,2016-09-29 10:40:00,...,0,2016-09-29 10:40:50,NaN,NaN,0,0.0,0.0,NaN,NaN,NaN
1,68,1,1,68,1514,172,96,渝DA3327,6,2016-09-29 17:20:00,...,0,2016-09-29 17:14:55,NaN,NaN,0,0.0,0.0,NaN,NaN,NaN
2,176,1,1,176,1520,172,93,渝D92853,6,2016-09-30 16:00:00,...,0,2016-09-30 15:55:20,NaN,NaN,0,0.0,0.0,NaN,NaN,NaN
3,194,1,1,194,1533,1526,35,渝DB6167,6,2016-10-02 15:00:00,...,0,2016-09-30 16:37:25,NaN,NaN,0,0.0,0.0,NaN,NaN,NaN
4,212,1,1,212,605,2,70,渝D93215,6,2016-10-01 19:40:00,...,0,2016-10-01 19:35:48,NaN,NaN,0,0.0,0.0,NaN,NaN,NaN

In [49]:
df['cs_order_info.csoi_settle_time'] = df['cs_order_info.csoi_settle_time'].replace('>订单支付完成',0)

In [57]:
df['cs_order_info.csoi_booked_time'].iloc[0]

datetime.datetime(2016, 9, 29, 10, 40, 50)

Timestamp('1970-01-01 00:00:00')

In [61]:
def change_to_datetime(row):
    if row == 0:
        return pd.to_datetime(row)
    else:
        return row

0        1970-01-01 00:00:00
1        1970-01-01 00:00:00
2        1970-01-01 00:00:00
3        1970-01-01 00:00:00
4        1970-01-01 00:00:00
5        1970-01-01 00:00:00
6        1970-01-01 00:00:00
7        1970-01-01 00:00:00
8        1970-01-01 00:00:00
9        1970-01-01 00:00:00
10       1970-01-01 00:00:00
11       1970-01-01 00:00:00
12       1970-01-01 00:00:00
13       1970-01-01 00:00:00
14       1970-01-01 00:00:00
15       1970-01-01 00:00:00
16       1970-01-01 00:00:00
17       1970-01-01 00:00:00
18       1970-01-01 00:00:00
19       1970-01-01 00:00:00
20       1970-01-01 00:00:00
21       1970-01-01 00:00:00
22       1970-01-01 00:00:00
23       1970-01-01 00:00:00
24       1970-01-01 00:00:00
25       1970-01-01 00:00:00
26       1970-01-01 00:00:00
27       1970-01-01 00:00:00
28       1970-01-01 00:00:00
29       1970-01-01 00:00:00
                 ...
162436   2018-06-09 17:49:40
162437   1970-01-01 00:00:00
162438   1970-01-01 00:00:00
162439   2018-06-09 21:45:20
162440   2018-06-09 21:20:42
162441   2018-06-10 15:12:33
162442   1970-01-01 00:00:00
162443   2018-06-09 19:38:03
162444   2018-06-09 19:14:54
162445   2018-06-09 18:54:42
162446   2018-06-09 19:01:20
162447   2018-06-10 10:55:14
162448   2018-06-09 19:54:23
162449   2018-06-09 19:27:58
162450   2018-06-09 23:17:50
162451   2018-06-09 19:49:43
162452   1970-01-01 00:00:00
162453   2018-06-09 20:50:16
162454   1970-01-01 00:00:00
162455   1970-01-01 00:00:00
162456   2018-06-10 19:42:47
162457   2018-06-09 23:22:53
162458   2018-06-09 21:33:55
162459   2018-06-10 21:45:34
162460   2018-06-09 22:09:14
162461   2018-06-09 21:53:57
162462   2018-06-09 22:19:55
162463   2018-06-10 09:28:53
162464   2018-06-09 23:12:22
162465   2018-06-10 02:26:02
Name: cs_order_info.csoi_settle_time, Length: 162466, dtype: datetime64[ns]

In [62]:
df['cs_order_info.csoi_settle_time'] = df['cs_order_info.csoi_settle_time'].apply(change_to_datetime)

In [66]:
df.to_excel('aaa.xlsx')

In [68]:
import os

In [75]:
if ~os.path.exists('temp1/'):
    os.mkdir('temp1/')

In [7]:
import pandas as pd 
import numpy as np

In [8]:
df = pd.DataFrame(columns = ['a','b','c'])

In [24]:
df3=pd.DataFrame(np.arange(16).reshape((4,4)),columns=['one','two','three','four'])

In [35]:
df3

   one   two  three  four  count
0  2.0   1.0    2.0   3.0    1.0
1  2.0   5.0    6.0   7.0    3.0
2  2.0   9.0   10.0  11.0    3.0
3  2.0  13.0   14.0  15.0    3.0
4  NaN   NaN    NaN   NaN    1.0

In [26]:
df3['one'].iloc[2] = 1

In [27]:
df3.loc[:,'one'] = 2

In [28]:
df3.loc[:,'count'] = 3

In [32]:
df3.loc[0,'count'] = 1

In [37]:
df3.index =[1,2,4,5,3]

In [38]:
df3

   one   two  three  four  count
1  2.0   1.0    2.0   3.0    1.0
2  2.0   5.0    6.0   7.0    3.0
4  2.0   9.0   10.0  11.0    3.0
5  2.0  13.0   14.0  15.0    3.0
3  NaN   NaN    NaN   NaN    1.0

In [46]:
df3.loc[3,'count'] == 5.0

True

In [43]:
df3.index[2]

4

In [51]:
from tqdm import tqdm

In [52]:
for i in tqdm(range(10)):
    print(i)

  0%|                                                                                           | 0/10 [00:00<?, ?it/s]

0
1
2
3
4
5
6
7
8
9

100%|█████████████████████████████████████████████████████████████████████████████████| 10/10 [00:00<00:00, 714.67it/s]